/******************************************************************
Site Name: Div Starter
Stylesheet: Tablet & Small Desktop Stylesheet

    ** imports _768up-nav.scss
******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {max-width: 1140px;}
.full{display: block;}
.tablet{display: block;}
.mobile{display:none;}

/*********************
NAVIGATION STYLES
*********************/
.header {
	#menu-icon-wrap {
		display: none;
	}
	#menu-icon {
		display: none;
	}
	nav {
		&#mobile.open-close {display: none!important;}
	}
}

@import '768up-nav';

.utility-nav {
	display:block;
	float: right;
	margin: 2.2em 0;
	padding: 0 20px;
	li {
		display:block;
		float: left;
		a {
			margin: 0 12px;
			text-decoration: none;
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	margin-top: 2.2em;
}
.widget {
	padding: 0 20px;
	margin: 2.2em 0;

	ul {
		li {
			margin-bottom: 0.75em;

			&:first-child {}
			&:last-child {}
			a {}
			/* deep nesting */

			ul {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
}

/*********************
SELECTORS
*********************/
.pad-left-200 {
	padding-left: 200px;
}