/******************************************************************
Site Name: Div Starter
Stylesheet: Mixins & Constants Stylesheet
******************************************************************/

/*********************
UNIVERSAL CLASSES
*********************/
.hide{display:none;}
.show{display:block;}
.underline{text-decoration:underline;}
.italic{font-style:italic;}
.bold{font-weight:bold;}
.upper{text-transform: uppercase;}
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }
.highlight{background: #FFFFA4;}
.responsive{width:100%;height:auto;}
.right{float: right;}
.left{float: left;}
.alignright{float: right; margin-left: 10px;}
.alignleft{float: left; margin-right: 10px;}

/*********************
CLEARFIXIN'
*********************/
// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

/*********************
TOOLS
*********************/
// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$admin-blue:		#0074a2;
$admin-grey:		#333333;
/* Color Palette */

$base-color:		#333333;				
$base-lt:			lighten($base-color, 10%);
$base-lt:			darken($base-color, 10%);
$base-dk:			#ba161d;				
$accent:			#1D1D1D;				
$accent-lt:			#777777;				
$accent-dk:			$black;					
$contrast:			#B82E00;				
$contrast-lt:		lighten($contrast, 10%);
$contrast-dk:		darken($contrast, 10%);	
$neutral:			#FFDB70;				
$neutral-lt:		lighten($neutral, 10%);
$neutral-med:		darken($neutral, 5%);
$neutral-dk:		darken($neutral, 10%);

$bgr:				$white;					 
$link-color:        $contrast;
$link-hover:        darken($link-color, 9%);
$text-color:		$accent;
$nav-bgr:           $contrast;
$nav-hover-bgr:     $contrast-lt;
$nav-current-bgr:   $neutral-lt;
$nav-current-color: $link-hover;

/*********************
TYPOGRAPHY
*********************/
$sans-serif:        Arial, sans-serif;
$serif:             Times, serif;


/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

// alerts and notices
%alert {
	margin: 10px;
	padding: 5px 18px;
	border: 1px solid;
}

.alert-help {
	@extend %alert;
	border-color: darken($alert-yellow, 5%);
	background: $alert-yellow;
}

.alert-info {
	@extend %alert;
	border-color: darken($alert-blue, 5%);
	background: $alert-blue;
}

.alert-error {
	@extend %alert;
	border-color: darken($alert-red, 5%);
	background: $alert-red;
}

.alert-success {
	@extend %alert;
	border-color: darken($alert-green, 5%);
	background: $alert-green;
}

/*********************
TRANISTION
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition...) {
	// defining prefixes so we can use them in mixins below
	$prefixes:      ("-webkit", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }

  transition: $transition;
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
/* added support for IE */
@mixin css-gradient($from, $to) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#{ie-hex-str($from)}', endColorstr='#{ie-hex-str($to)}');
}

/*********************
CSS3 BOX SHADOW
*********************/

/* Use include box-shadow(0, 0, 10px, 0, #444444, ""); */

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset:"") {
      -webkit-box-shadow:$top $left $blur $spread #{$inset};
      -moz-box-shadow:$top $left $blur $spread #{$inset};
      box-shadow:$top $left $blur $spread #{$inset};
      -o-box-shadow:$top $left $blur $spread #{$inset};
}

/*********************
BOX SIZING
*********************/

/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}