/*
Syntax error: Undefined variable: "$white".
        on line 96 of scss/bxslider.scss

91: 	*zoom: 1;
92: 	*display: inline;
93: }
94: 
95: .bx-wrapper .bx-pager.bx-default-pager a {
96: 	background: $white;
97: 	text-indent: -9999px;
98: 	display: block;
99: 	width: 11px;
100: 	height: 11px;
101: 	margin: 0 3px;

Backtrace:
scss/bxslider.scss:96
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/variable.rb:49:in `_perform'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/node.rb:40:in `perform'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:37:in `visit'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:100:in `visit'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:53:in `map'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:53:in `visit_children'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:37:in `block in visit'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:37:in `visit'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:100:in `visit'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:53:in `map'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:53:in `visit_children'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:37:in `block in visit'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:37:in `visit'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:100:in `visit'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:7:in `visit'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/root_node.rb:20:in `render'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/engine.rb:315:in `_render'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/engine.rb:262:in `render'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:201:in `each'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:283:in `block in watch'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.11/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$white\".\A         on line 96 of scss/bxslider.scss\A \A 91: 	*zoom: 1;\A 92: 	*display: inline;\A 93: }\A 94: \A 95: .bx-wrapper .bx-pager.bx-default-pager a {\A 96: 	background: $white;\A 97: 	text-indent: -9999px;\A 98: 	display: block;\A 99: 	width: 11px;\A 100: 	height: 11px;\A 101: 	margin: 0 3px;"; }
